<h1>Add a new place</h1> 
<form method="post">
    <fieldset>
        <label for="name"> Name: *</label>
        <input name="name" id="name" required/>
    </fieldset>
    <fieldset>
        <label for="location"> Location: *</label>
        <input name="location" id="location" required />
    </fieldset>
    <fieldset>
        <label for="category"> Category: *</label>
        <input name="category" id="category" required />
    </fieldset>
    <fieldset>
        <label for="description"> Description: *</label>
        <textarea name="description" id ="description"></textarea>
    </fieldset>
    <button>Save</button>
</form>